.profile-container {
  margin: auto;
  width: 90%;
  margin-top: 25px;
  padding-top: 10px;
  /* border-top: 1px solid grey; */
}
a {
  color: #ff6e99;
}
.profile-about-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 2px;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.138);
}

.profile-picture > img {
  width: 15vmax;
  height: 15vmax;
  border-radius: 50%;
}

.profile-username {
  font-size: 3vmax;
  margin-left: 10px;
}
.profile-follow-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.profile-follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.profile-follow > h4 {
  color: #ff6e99;
}

.profile-bio {
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
}

.profile-posts > div {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  width: 70vmax;
  margin-top: 5px;
}
.post-image {
  width: 30%;
  /* margin-bottom: 1px; */
}
.post-image > div {
  word-break: anywhere;
  height: 2.2rem;
  overflow: hidden;
  font-size: 0.7rem;
}
.post-image > img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .post-image {
    width: 50%;
    /* margin-bottom: 2.5rem; */
  }
  .post-image > img {
    height: 100%;
  }
  .profile-posts > div {
    width: 50vmax;
  }
  .updateprfile-container {
    border: 1px solid #ff6e99;
    width: 95%;
    margin: 100px auto;
  }
}
