.react-icons {
  font-size: 20px;
  color: #ff6e99;
}

.profile-update > a > button {
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}
.profile-update {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.profile-buttons {
  border-bottom: 2px solid black;
  padding: 10px 0;
}

.updateprfile-container {
  border: 1px solid #ff6e99;
  width: 50%;
  margin: 20px auto;
}
.updateprfile-container > .heading {
  text-align: center;
  margin: 20px 0;
}

.updateprfile-container > .details {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.updateprfile-container > .details > .update-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.updateprfile-container > .details > .update-field > label {
  margin-right: 10px;
}
.updateprfile-container > .details > .update-field > input {
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ff6e99;
}
